body {
  font-family: 'Helvetica Neue';
  font-size: 20px;
  font-weight: normal;
}

main {
  width: 400px;
  margin: auto;
  margin-top: 50px;
  max-height: 20vw !important;
}

section {
  height: 300px;
  overflow: scroll;
  padding: 25px 25px 0 25px;
}

section br {
  clear: both;
}

.message {
  max-width: 250px;
  word-wrap: break-word;
  margin-bottom: 12px;
  line-height: 24px;
}
section p:after {
  content: '';
  display: table;
  clear: both;
}

form {
  text-align: center;
  display: flex;
  width: 100%;
  margin: auto;
}

form div:first-child {
  flex: 1;
  padding: 5px;
  margin: 5px;
}

form div:nth-child(2) {
  display: flex;
  margin: 5px;
}

button {
  border: none;
  color: #0a93f6;
  background-color: transparent;
  padding: 10px;
  text-decoration: none;
  font-size: 16px;
}

input {
  width: 100%;
  border: solid 1px #e5e5eb;
  border-radius: 10px;
  padding: 5px;
}
